@use "sass:map";
@use "../common/colors" as vars;
@use "../common/breakpoints" as bp;

.container-categories {
    @media (max-width: map.get(bp.$grid-breakpoints, s)) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.categories-slider {
    display: flex;
    align-items: center;
}

.categories-slider__viewport {
    flex: 1 1 auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;

    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
}

.categories-slider__viewport::-webkit-scrollbar {
    display: none;
}

.categories-slider__track {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    min-width: 100%;
}

.category {
    flex: 0 0 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    scroll-snap-align: start;

    @media (max-width: map.get(bp.$grid-breakpoints, md)) {
        flex: 0 0 calc((100% - 40px) / 3);
        height: 300px;
    }

    @media (max-width: map.get(bp.$grid-breakpoints, xs)) {
        flex: 0 0 calc(50% - 10px);
        height: 250px;
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
    }

    &__title {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.2px;
        color: vars.$black;
        text-align: center;
    }
}