@use 'sass:map';

@use '../common/fonts';
@use '../common/colors' as vars;
@use '../common/mixins' as mixin;
@use '../common/breakpoints' as bp;

.content-copy {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    @media (max-width: map.get(bp.$grid-breakpoints, md)) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__title {

        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.7px;
        color: vars.$black;

        @media (max-width: map.get(bp.$grid-breakpoints, sm)) {
            font-size: 14px;
        }

        @media (max-width: map.get(bp.$grid-breakpoints, sm)) {
            font-size: 13px;
        }
    }
}