@use 'sass:map';

@use '../common/fonts';
@use '../common/colors' as vars;
@use '../common/mixins' as mixin;
@use '../common/breakpoints' as bp;

.content-hero {
    @media (max-width: map.get(bp.$grid-breakpoints, s)) {
        @include mixin.leftRight;
    }
}

.hero {
    overflow: hidden;
    margin-top: 20px;
    border-radius: 12px;

    &__image {
        display: block;
        width: 100%;
        height: 700px;
        object-fit: cover;

        @media (max-width: map.get(bp.$grid-breakpoints, md)) {
            height: 450px;
        }

        @media (max-width: map.get(bp.$grid-breakpoints, sm)) {
            height: 400px;
        }
    }
}